<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Digital Marketing Trends Searcher</title>
  <link rel= "stylesheet" type="text/css" href= "{{ url_for('static', filename='main.css')}}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
  <h1>Quick Digital Marketing Trends Finder</h1>
  <p>This site will return a list of links containing at least 2 statistics.</p>
  <p><strong>Results may vary and inaccurate at times..</strong></p>

  <div class="container-fluid" id="searchBar">
    <form autocomplete="off" method="GET">
      <input class="form-control" type="search" placeholder="search.." name="q" id="search">
      <input class="btn btn-primary" type="submit">
    </form> 
  </div>
  
  <div class="container-fluid" id="cont">
    <h5 id="imp">{{qString}}</h5>
    <div class="row">
      <div class="col-1"></div>
      <div class="col-10">
        <button class="btn btn-outline-secondary" id="clr">CLEAR</button>
        <table class="table table-bordered table-hover">
          <tr>
            <th>No. of Statistics</th>
            <th>Link</th>
          </tr>
          
          {% for data in jsonText %}
            <tr>
              <td>{{data.num}}</td>
              <td><a href="{{ data.link }}" target="_blank">{{data.link}}</a></td>
            </tr>
          {% endfor %}
  
        </table>
      </div>
      <div class="col-1"></div>
    </div>
  </div>
</body>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
  $(document).ready(function(){
    $("#clr").click(function(){
      $("#cont").empty();
      window.history.pushState({}, null, 'https://digitalmarketingtrends.herokuapp.com/')
  });
});
</script>
</html>